/**
!.gitignore
!/config/
!/config/**
!/resourcepacks/
!/resourcepacks/**
!/resources/
!/resources/**
!/scripts/
!/scripts/**
!/background.png
!/LICENSE
!/manifest.json

config/antiqueatlas/biome_textures.json
config/splash.properties
config/BlockDrops/modVersions.txt
config/worldedit/worldedit.properties
config/buildcraft/detailed.properties