/**
!.gitignore
!/config/
!/config/**
!/resourcepacks/
!/resourcepacks/**
!/patchouli_books/
!/patchouli_books/**
!/resources/
!/resources/**
!/scripts/
!/scripts/**
!/background.png
!/LICENSE
!/manifest.json
!/modlist.html