# Configuration file

balancing {
    # Allows shards with the same entity type to be combined in an anvil. It is a direct addition and mainly intended for co-op play. [default: true]
    B:allowShardCombination=true

    # Allows Shards to absorb spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # Enables a convenience recipe that allows you to reset the stats of a Soul Shard. [default: true]
    B:convenienceReset=true

    # The cooldown time set in "ShardTiers.json" should use seconds instead of ticks. Allows finer control over tiers.
    # 1 second = 20 ticks
    # I suggest not changing this unless you have edited the configs. [default: true]
    B:cooldownUsesSeconds=true

    # Count mobs spawned by a Soul Cage towards Shard kills. [default: true]
    B:countCageBornForShard=true

    # Allows bosses to be spawned. This is probably the worst thing you can do to your instance. [default: false]
    B:enableBosses=false

    # Mobs spawned via a Soul Cage will drop experience upon death. [default: true]
    B:enableExperienceDrop=true

    # Forces Soul Cages to require a Redstone signal in order to spawn entities. [default: false]
    B:forceRedstoneRequirement=false

    # Requires the player who put the shard into the Soul Cage to be online for it to be active. [default: false]
    B:requireOwnerOnline=false

    # Amount of souls to add when absorbing a spawner. [range: 0 ~ 1024, default: 200]
    I:spawnerAbsorptionBonus=200
}


client {
    # Adds a Shard for each enabled mob to the creative tab. [default: false]
    B:addShardsForAllMobs=false

    # Adds A shards for mobs even if they are blacklisted [default: false]
    B:ignoreBlacklistForTab=false
}


compatibility {
    # The type of spawning mechanic to use for the Soul Cage.
    # Valid values:
    # VANILLA - The standard spawning mechanic.
    # BLOODMAGIC - Requires 100 LP per mob spawned.
    # HARDMODE - Reduces the contained souls of the shard by 1 for each mob spawned. Does not reduce tier. Recommended to disable "countCageBornForShard".
    S:compatibilityType=VANILLA

    # Adds a Tinkers Construct modifier for Soul Stealer. [default: true]
    B:enableSoulStealerModifier=true

    # Amount of LP required for each mob spawned.
    # If this amount is not contained in the LP network, a nausea effect will be applied to the player and the Soul Cage will stop functioning. [range: 0 ~ 2147483647, default: 250]
    I:lpPerMob=250
}


debug {
    # If enabled, additional information will be logged to console. Mostly timing information. [default: false]
    B:debugLogging=false

    # Allows disabled entities to still be spawned by the cage. They are, however, still not obtainable on a shard. [default: false]
    B:enableBlacklistedSpawning=false
}


enchantments {
    # Amount of bonus kills to provide per enchantment level. [range: 1 ~ 5, default: 1]
    I:soulStealerBonus=1

    # ID for the Soul Stealer enchantment. If you have Enchantment ID conflicts, change this. [range: 63 ~ 256, default: 70]
    I:soulStealerID=70

    # Weight of the Soul Stealer enchantment. Higher values make it more common. [range: 1 ~ 10, default: 3]
    I:soulStealerWeight=3
}


##########################################################################################################
# entity list
#--------------------------------------------------------------------------------------------------------#
# Set an entity to false to disable it's ability to be spawned.
##########################################################################################################

"entity list" {
    B:"astralsorcery:entityflare"=true
    B:"astralsorcery:entityliquidspark"=true
    B:"astralsorcery:entityspectraltool"=true
    B:"bloodmagic:corrupted_chicken"=true
    B:"bloodmagic:corrupted_sheep"=true
    B:"bloodmagic:corrupted_spider"=true
    B:"bloodmagic:corrupted_zombie"=true
    B:"bloodmagic:mimic"=true
    B:"bloodmagic:sentient_specter"=true
    B:"botania:doppleganger"=true
    B:"botania:pink_wither"=true
    B:"botania:pixie"=true
    B:"coroutil:bat_smart"=true
    B:"customnpcs:customnpc"=true
    B:"customnpcs:customnpc64x32"=true
    B:"customnpcs:customnpcalex"=true
    B:"customnpcs:customnpcclassic"=true
    B:"customnpcs:npccrystal"=true
    B:"customnpcs:npcdragon"=true
    B:"customnpcs:npcdwarffemale"=true
    B:"customnpcs:npcdwarfmale"=true
    B:"customnpcs:npcelffemale"=true
    B:"customnpcs:npcelfmale"=true
    B:"customnpcs:npcenderchibi"=true
    B:"customnpcs:npcenderman"=true
    B:"customnpcs:npcfurryfemale"=true
    B:"customnpcs:npcfurrymale"=true
    B:"customnpcs:npcgolem"=true
    B:"customnpcs:npchumanfemale"=true
    B:"customnpcs:npchumanmale"=true
    B:"customnpcs:npcnagafemale"=true
    B:"customnpcs:npcnagamale"=true
    B:"customnpcs:npcorcfemale"=true
    B:"customnpcs:npcorcfmale"=true
    B:"customnpcs:npcpony"=true
    B:"customnpcs:npcskeleton"=true
    B:"customnpcs:npcslime"=true
    B:"customnpcs:npcvillager"=true
    B:"customnpcs:npczombiefemale"=true
    B:"customnpcs:npczombiemale"=true
    B:"minecraft:bat"=true
    B:"minecraft:blaze"=true
    B:"minecraft:cave_spider"=true
    B:"minecraft:chicken"=true
    B:"minecraft:cow"=true
    B:"minecraft:creeper"=true
    B:"minecraft:donkey"=true
    B:"minecraft:elder_guardian"=true
    B:"minecraft:ender_dragon"=true
    B:"minecraft:enderman"=true
    B:"minecraft:endermite"=true
    B:"minecraft:evocation_illager"=true
    B:"minecraft:ghast"=true
    B:"minecraft:giant"=true
    B:"minecraft:guardian"=true
    B:"minecraft:horse"=true
    B:"minecraft:husk"=true
    B:"minecraft:illusion_illager"=true
    B:"minecraft:llama"=true
    B:"minecraft:magma_cube"=true
    B:"minecraft:mooshroom"=true
    B:"minecraft:mule"=true
    B:"minecraft:ocelot"=true
    B:"minecraft:parrot"=true
    B:"minecraft:pig"=true
    B:"minecraft:polar_bear"=true
    B:"minecraft:rabbit"=true
    B:"minecraft:sheep"=true
    B:"minecraft:shulker"=true
    B:"minecraft:silverfish"=true
    B:"minecraft:skeleton"=true
    B:"minecraft:skeleton_horse"=true
    B:"minecraft:slime"=true
    B:"minecraft:snowman"=true
    B:"minecraft:spider"=true
    B:"minecraft:squid"=true
    B:"minecraft:stray"=true
    B:"minecraft:vex"=true
    B:"minecraft:villager"=true
    B:"minecraft:villager_golem"=true
    B:"minecraft:vindication_illager"=true
    B:"minecraft:witch"=true
    B:"minecraft:wither"=true
    B:"minecraft:wither_skeleton"=true
    B:"minecraft:wolf"=true
    B:"minecraft:zombie"=true
    B:"minecraft:zombie_horse"=true
    B:"minecraft:zombie_pigman"=true
    B:"minecraft:zombie_villager"=true
    B:"mysticalworld:entity_beetle"=true
    B:"mysticalworld:entity_clam"=true
    B:"mysticalworld:entity_deer"=true
    B:"mysticalworld:entity_endermini"=true
    B:"mysticalworld:entity_fox"=true
    B:"mysticalworld:entity_frog"=true
    B:"mysticalworld:entity_hell_sprout"=true
    B:"mysticalworld:entity_lava_cat"=true
    B:"mysticalworld:entity_owl"=true
    B:"mysticalworld:entity_silkworm"=true
    B:"mysticalworld:entity_sprout"=true
    B:"openblocks:luggage"=true
    B:"openblocks:mini_me"=true
    B:"pneumaticcraft:drone"=true
    B:"pneumaticcraft:harvesting_drone"=true
    B:"pneumaticcraft:logistic_drone"=true
    B:"pneumaticcraft:programmable_controller"=true
    B:"quark:archaeologist"=true
    B:"quark:ashen"=true
    B:"quark:crab"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=true
    B:"quark:frog"=true
    B:"quark:leash_knot"=true
    B:"quark:pirate"=true
    B:"quark:stoneling"=true
    B:"quark:wraith"=true
    B:"tfc:alpacatfc"=true
    B:"tfc:blackbeartfc"=true
    B:"tfc:boartfc"=true
    B:"tfc:cameltfc"=true
    B:"tfc:chickentfc"=true
    B:"tfc:cougartfc"=true
    B:"tfc:cowtfc"=true
    B:"tfc:coyotetfc"=true
    B:"tfc:deertfc"=true
    B:"tfc:direwolftfc"=true
    B:"tfc:donkeytfc"=true
    B:"tfc:ducktfc"=true
    B:"tfc:gazelletfc"=true
    B:"tfc:goattfc"=true
    B:"tfc:grizzlybeartfc"=true
    B:"tfc:grousetfc"=true
    B:"tfc:haretfc"=true
    B:"tfc:horsetfc"=true
    B:"tfc:hyenatfc"=true
    B:"tfc:jackaltfc"=true
    B:"tfc:liontfc"=true
    B:"tfc:llamatfc"=true
    B:"tfc:mongoosetfc"=true
    B:"tfc:muletfc"=true
    B:"tfc:muskoxtfc"=true
    B:"tfc:ocelottfc"=true
    B:"tfc:panthertfc"=true
    B:"tfc:parrottfc"=true
    B:"tfc:pheasanttfc"=true
    B:"tfc:pigtfc"=true
    B:"tfc:polarbeartfc"=true
    B:"tfc:quailtfc"=true
    B:"tfc:rabbittfc"=true
    B:"tfc:sabertoothtfc"=true
    B:"tfc:sheeptfc"=true
    B:"tfc:turkeytfc"=true
    B:"tfc:wildebeesttfc"=true
    B:"tfc:wolftfc"=true
    B:"tfc:yaktfc"=true
    B:"tfc:zebutfc"=true
    B:"tfcthings:pigvil"=true
    B:"thaumcraft:arcanebore"=true
    B:"thaumcraft:brainyzombie"=true
    B:"thaumcraft:cultistcleric"=true
    B:"thaumcraft:cultistknight"=true
    B:"thaumcraft:cultistleader"=true
    B:"thaumcraft:cultistportalgreater"=true
    B:"thaumcraft:cultistportallesser"=true
    B:"thaumcraft:eldritchcrab"=true
    B:"thaumcraft:eldritchgolem"=true
    B:"thaumcraft:eldritchguardian"=true
    B:"thaumcraft:eldritchwarden"=true
    B:"thaumcraft:firebat"=true
    B:"thaumcraft:giantbrainyzombie"=true
    B:"thaumcraft:golem"=true
    B:"thaumcraft:inhabitedzombie"=true
    B:"thaumcraft:mindspider"=true
    B:"thaumcraft:pech"=true
    B:"thaumcraft:spellbat"=true
    B:"thaumcraft:taintacle"=true
    B:"thaumcraft:taintaclegiant"=true
    B:"thaumcraft:taintacletiny"=true
    B:"thaumcraft:taintcrawler"=true
    B:"thaumcraft:taintseed"=true
    B:"thaumcraft:taintseedprime"=true
    B:"thaumcraft:taintswarm"=true
    B:"thaumcraft:thaumslime"=true
    B:"thaumcraft:turretadvanced"=true
    B:"thaumcraft:turretbasic"=true
    B:"thaumcraft:wisp"=true
    B:"thaumicaugmentation:autocaster"=true
    B:"thaumicaugmentation:autocaster_eldritch"=true
    B:"thaumicaugmentation:eldritch_golem"=true
    B:"thaumicaugmentation:eldritch_guardian"=true
    B:"thaumicaugmentation:eldritch_warden"=true
    B:"thaumicaugmentation:primal_wisp"=true
    B:"wizardry:fairy"=true
    B:"wizardry:jump_pad"=true
    B:"wizardry:spirit_blight"=true
    B:"wizardry:spirit_wight"=true
    B:"wizardry:summon_zombie"=true
    B:"wizardry:unicorn"=true
}


general {
    # Displays a durability bar on the shard as an indicator on how close to maxed it is [default: true]
    B:displayDurabilityBar=true

    # Max amount of mobs spawned by a given spawner in a 16 block radius. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


