# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        Water strainers can be a great way to passively get ores early-game.
        Use waystones to quickly travel between distant locations, though at the cost of experience levels.
        Transport pipes can move items from one container to another.
        Painting transport pipes a different colour allows them to be placed together without connecting.
        Crops can be grown in barrels, though you cannot get the seeds back.
        Different wood types can be converted using a decorative chisel.
        Use microblocks to add fine details to your builds.
        A backpack gives you 18 extra slots to store items in when worn.
        Look up at the night sky, you might see a shooting star!
        Beware of predators which hunt during the night.
        Keep a spare atlas in case you die and need to quickly find your way back.
        Candles placed around an enchanting table can influence the enchantments it provides.
        Iron grates allow dropped items to pass through, but you can still walk over them.
        A slime in a bucket will get excited when in a slime chunk.
        Save experience for later use with an XP tome.
        Bring a barrel of fresh water on long journeys as well as several jugs.
        Decorate your house with a variety of cosmetic blocks crafted in the Decobench.
        The quality of gems can be improved by placing them in a barrel of brine.
        Take a break and grab some water.
        Storage draws can hold several stacks of a single item in a convenient way.
        Composters can be used to grow grass on dirt blocks.
        Bunches of sticks can sometimes be used to craft items more efficiently.
        Hold and release the drop key to throw the item you are holding.
        Thrown torches can light flammable blocks on fire.
        Throwing torches can be a good way to illuminate a cave from a distance.
        A weather deflector can stop all rainfall and storms in its surrounding area.
        Water flasks can hold multiple jugs worth of water.
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


